

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(45deg, #e5d598, #ea9fd3);
}

.text{
	width: 100%;
	font-size: 60px;
	margin-top: 100px;
	margin-left: 700px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight: bolder;
	line-height: 1.6;
}

.first {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100px;
	color: #2468a2;
	text-align: center;
	font-size: 15px;
	text-shadow: -3px -3px 6px rgba(0, 0, 0, 0.5);
	letter-spacing: 4px;
}

.pic1 {
	transition-duration: 2s;
	border-radius: 20px;
}

.pic1:hover {
	opacity: 1;
}

.sec {
	border-radius: 20px;
	margin: 100px 15% 0;
	width: 1000px;
	height: 300px;
	border: 3px solid #b1b0ac;
}

.sec p {
	font-family:Georgia, 'Times New Roman', Times, serif;
	margin: 80px 0 0 50px;
	float: left;
	width: 550px;
	font-size: 25px;
	text-indent: 30px;
	letter-spacing: 8px;
}

.sec img {
	border-radius: 20px;
	float: right;
	width: 300px;
	margin: 50px 50px 0 0;
}

.for {
	margin: 300px 8% 0;
	width: 1300px;
}

.for p {
	font-family:Georgia, 'Times New Roman', Times, serif;
	margin: 100px 50px 0;
	float: top;
	width: 550px;
	font-size: 18px;
	text-indent: 30px;
	letter-spacing: 8px;
	color: #2468a2;
}

.tp {
	padding: 0;
	border: 0;
	margin: 0 30px 0 0;
	justify-content: center;
	float: top;
	width: 400px;
	height: 280px;
	transition-duration: 2s;
}

.tp:hover {
	transform: scale(1.1);
}

.nine {
	padding: 0;
	border: 0;
	margin: 50px 0 0 600px;
	width: 300px;
	height: 200px;
}

.kaixin {
	margin: 50px 10% 0;
	font-size: 30px;
	line-height: 2.5;
}

video {
	margin: 15% 17% 0;
	width: 1000px;
	height: 100%;
}

#show {
	margin-top: 200px;
	height: 370px;
}

#show img {
	margin-top: 70px;
}

.Album {
	display: flex;
	height: 250px;
	margin: 100px 150px 100px;
}

.Album img {
	width: 180px;
	margin-right: 70px;
	border-radius: 20px;
}

.Album img:hover {
	transform: scale(0.95);
	transition: 0.5s;
}

.Album .section {
	display: block;
	width: 240px;
	float: left;
}

#firstPic {
	margin-left: 0;
	transition: 0.5s;
}

.selection {
	overflow: hidden;
	width: 1000px;
	height: 250px;
	float: none;
	display: flex;
}

.section p {
	position: relative;
	width: 100%;
	margin-left: 25%;
	font-size: 20px;
}

#more, #less {
	cursor: pointer;
	position: relative;
	float: left;
	margin-top: 70px;
}
#more{
	margin-left: 50px;
}

#more img, #less img {
	width: 40px;
}

#more:hover {
	transition: 0.5s;
}

#moreLink {
	border: 0;
	background-color: transparent;
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
}

#closePopup {
	margin-left: 350px;
	background-color: gray;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#closePopup:hover {
	background-color: darkgrey;
}
